extends layout

block head 
    script(src='/public/thirdparty/react/react.js')
    script(src='/public/thirdparty/react/react-dom.js')

block title
    title sofajs foundation documentation

block content
    h1(class="headerBasic")  sofajs documentation  

    p build documentation here.
