extends layout

block title
    title Sofajs 

block content
    div(id="wrap")
        p(class="headerBasic")   docos spoken like "tacos"
        div(class="content")
                p content here <br/><br/> hapijs <br/>happy stuff
        div(class="sidebar")
            div(class="sidebarh1") sofajs 
            div(class="navigatePlugins") 

        br
        br
        br
